@page
@model HealthConnect.Pages.Admin.Medicine_list_management.Medicine_Sub_Category_manage.Medicine_Sub_Category_EditModel
@{
    Layout = "_Admin_header";
    ViewData["Title"] = "Medicine Sub Category Edit";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add doctor specialitis of doctor</h4>
            <form method="post" asp-page-handler="EditSpecialitis">
                <input type="hidden" name="medicine_sub_category_id" value="@Model.MedicineSubCategory.medicine_sub_category_id" />
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-sm-12">

                            <div class="form-group">
                                <select class="form-control" name="medicine_main_category_id">
                                    <option selected disabled>Select Doctor Type</option>
                                    @foreach (var item in Model.Medicine_Main_Category)
                                    {
                                        if (item.medicine_main_category_id == Model.MedicineSubCategory.medicine_main_category_id)
                                        {
                                            <option value="@item.medicine_main_category_id" selected="selected">@item.medicine_main_category_name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.medicine_main_category_id">@item.medicine_main_category_name</option>
                                        }
                                    }
                                </select>


                            </div>
                            <div class="form-group">
                                <label for="medicine_sub_category_name">Specialitis of doctor</label>
                                <input type="text" class="form-control" name="medicine_sub_category_name" id="medicine_sub_category_name" value="@Model.MedicineSubCategory.medicine_sub_category_name" placeholder="Specialitis of doctor">
                            </div>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button type="button" class="btn btn-dark" onclick="history.back()">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>
