@page
@model HealthConnect.Pages.BlogsModel
@{
    Layout = "_BlogHeader";
    ViewData["Title"] = "Blogs";
}


<section class="blog_index_section1">
    <div>
        <h4>Our Blogs</h4>
        <h1>Blogs & Articles</h1>
    </div>
</section>


<div class="blog_index_container">
    <main>

        <section class="blog_index_section2">
            <div class="left_side">
                <img src="/images/MotivateBlogImage.png" alt="Alternate Text" loading="lazy"/>
            </div>
            <div class="right_side">
                <h1>How Sharing Health Insights Can Improve Lives</h1>
                <p>
                    Sharing health tips and medication advice can make a significant impact on others' well-being, offering support for chronic conditions and healthy living.
                </p>

                <h1>How Personal Health Stories Empower Others</h1>
                <p>
                    Personal health stories provide powerful motivation, creating a supportive community for those facing similar struggles, and inspiring others to take charge of their health.
                </p>

                <h1>How Writing About Health Can Inspire Action</h1>
                <p>
                    Blogging about health, wellness, and mental health encourages small changes that lead to big improvements, motivating others to take action for better health.
                </p>

                <a href="/Blogs/Write_Blog"><div>Write a New Blog/Article </div></a>


            </div>

        </section>

        <h1 class="latest_blog_text">All Blogs</h1>
        <section class="blog_index_section3">
            @foreach (var blog in Model.blogList)
            {
                <div class="blog_outer_section">

                    <div class="blog_image">
                        <img src="/BlogImage/@blog.blog_image" alt="@blog.blog_title" loading="lazy" />
                    </div>

                    <div class="date_time_div">
                        <p>Date: <span>@blog.blog_date</span></p>
                        <p>Publisher name: <span>@blog.Writer.first_name @blog.Writer.last_name</span></p>
                    </div>

                    <div class="blog_detail">
                        <h2>@blog.blog_title</h2>
                        <p>@Html.Raw(@blog.blog_content)</p>
                    </div>
                    <a href="/single_blog">Read more...</a>
                </div>

            }
           
          

        </section>

    </main>
</div>


